@using Spotify.OAuth
@model AlbumPagination
@{
    var userImage = User.Claims.FirstOrDefault(x => x.Type == $"{SpotifyDefaults.Issuer}{SpotifyDefaults.ClaimType.ProfilePicture}");

}
<div class="text-center">
    <h1 class="display-4">Library</h1>


    @foreach (var album in Model.Albums)
    {
        <a href="@album.Album.Uri">
            <p>@album.Album.Name</p>
            <img src="@album.Album.Images.First().Url" />
        </a>

        <p>Artists</p>

        @foreach (var artist in album.Album.Artists)
        {
            <a href="@artist.Uri"> <p>@artist.Name</p></a>
        }

    }
</div>
